@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

body {
  margin: 0px 100px;
  background: linear-gradient(to top, #e2e2e2, #c9d6ff);
  background-attachment: fixed;
  height: 100vh;
}

.naviga {
  height: 70px;
  margin-top: 42px;
  padding: 0px 42px;
  border-radius: 20px;
  background-color: #714acf !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
}

.btn-add {
  background-color: #ffbf00;
  font-weight: 600 !important;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn-save {
  border-radius: 10px;
}

.btn-chiudi {
  border-radius: 10px;
}

.btn-add:hover,
.btn-aggiorna:hover {
  text-decoration: none;
  background-color: #c90;
}

.btn-logout {
  background-color: #ccccff;
  font-weight: 600 !important;
  padding: 10px 20px;
  border-radius: 20px;
  color: black;
}

.btn-logout:hover {
  text-decoration: none;
  background-color: #aaf;
  color: black;
}

.carta {
  max-width: 300px;
  min-height: 260px;
  padding: 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
  border-radius: 0px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
}

.btn-aggiorna {
  background-color: #ffbf00;
  font-weight: 600 !important;
  padding: 7px 15px;
  border-radius: 80px;
}

.btn-elimina {
  font-weight: 600 !important;
  padding: 7px 15px;
  border-radius: 80px;
  color: black;
}

.btn-elimina:hover {
  color: black;
}

.titolo {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.titolo-app {
  font-weight: 600;
  color: #fff;
}

.titolo-app:hover {
  color: #fff;
}

.utente {
  font-weight: 500;
  color: #fff;
}

.modifica {
  opacity: 0;

  transition: opacity 0.5s ease;
}

.carta:hover .modifica {
  opacity: 1;
}
